html,body 
{
    margin:0;
    padding:0;
    background: linear-gradient(to left bottom, green, orange);
    color:darkblue;
    height:100%;
    font-family: monospace;
    overflow-x: hidden;
}
.container
{
    display: flex;
    flex-direction: column;
    margin-left:50%;
    transform: translate(-50%,25vh);
    border:none;
    border-radius:5px;
    padding:30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    background: rgba(255,255,255,.3);
}
.cont 
{
    display: flex;
    justify-content: space-between;
    margin-bottom:15px;
    margin-top:15px;
}
.cont input 
{
    background-color: rgba(255, 255, 255, .2);
    border:1px solid #333;
    border-radius:4px;
}
#Generate
{
    width:100%;
    height:35px;
    font-size: 22px;
    position: relative;
}
.copy
{
    width:28px;
    transform: translateX(-130%);
    cursor:pointer;
    display: block;
}
.check
{
    width:28px;
    transform: translateX(-130%);
    cursor:pointer;
    display: none;
}
.btns 
{
    display: flex;
    justify-content: center;
}
.btn 
{
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    transition: .4s;
    margin: 20px 10px 0 10px;
}
#btn1
{
    background-color: yellowgreen;
    border:1px solid darkcyan;
    color:blue;
}
#btn1:hover
{
    transition: .4s;
    background-color: blue;
    color:yellowgreen;
    border:1px solid orange;
}
@media(max-width:768px)
{
    .container 
    {
        transform: translate(-50%,15vh);
    }
    .cont
    {
        display: block;
    }
    .cont input
    {
        width:100%;
        height:25px;
    }
    #Generate
    {
        margin-top:45px;
    }
    .btns 
    {
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .cont-gen
    {
        display: flex;
    }
    .copy 
    {
        width:24px;
        height:24px;
        transform: translate(-130%,200%);
        cursor:pointer;
        display: flex;
    }
    .check
    {
        width:24px;
        height:24px;
        transform: translate(-130%,200%);
        cursor:pointer;
        display: flex;
        display: none;
    }
}
@media(max-width:390px)
{
    .container
    {
        padding:15px;
    }
}
